body * {

	box-sizing: border-box;
}

body {

	margin: 0;
	font-family: 'Roboto', helvetica, sans-serif;
}
main {

	/**background-color: #53A0EF;**/
	background-color: #3193F6;
	padding: 60px;
}

/**div {
padding-left: 40px;
padding-right: 40px;
height: 600px; width: 400px;
margin: auto;
}**/
img {

	height: 40px;
	display: block;
    margin: 0 auto;
}

h1 {
text-align: center;	
padding-top: 30px;
margin-bottom: 50px;
}

.analogsea-form {

	background-color: white;
	padding-left: 40px;
padding-right: 40px;
height: 450px; width: 400px;
margin: auto;


}

/**
.analogsea-form, fieldset, button {

display: block;
margin: auto;
padding-left: 15px;
padding-right: 15px;

}
**/
fieldset {
padding: 0;
border: none;
margin: auto;
}

input {

	height: 45px;
	width: 320px;
	margin: auto;
	vertical-align: middle;
    padding-left: 20px;
    border: 2px solid #E7E7E7;
    background-color: #F5F7F9;
    font-size: 16px;
}

label, input {

	margin-bottom: 10px;
	display: block;
}

button {

	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	height: 45px;
	width: 320px;
	background-color: #4CAF50; 
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

p {
text-align: center
}

.forgot {

color: lightgrey;

}

.account {

	color: white;
	font-weight: bold;
}