body * {

	box-sizing: border-box;
}

main {

	background-color: blue;
	padding: 60px;
}

/**div {
padding-left: 40px;
padding-right: 40px;
height: 600px; width: 400px;
margin: auto;
}**/

h1 {
text-align: center;	
padding-top: 30px;
margin-bottom: 50px;
}

.analogsea-form {

	background-color: white;
	padding-left: 40px;
padding-right: 40px;
height: 450px; width: 400px;
margin: auto;


}
.analogsea-form, fieldset, button {

display: block;
margin: auto;
padding-left: 15px;
padding-right: 15px;

}

fieldset {

	overflow:hidden;
}

label, input {

	margin-bottom: 10px;
	display: block;
}

button {

	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	height: 45px;
	background-color: #4CAF50; /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

p {
text-align: center
}